@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --vercel-background: #ffffff;
    --vercel-foreground: #171717;
    --text-primary: #ffffff;
    --text-secondary: #000;
}

@media (prefers-color-scheme: dark) {
    :root {
        --vercel-background: #0a0a0a;
        --vercel-foreground: #ededed;
        --text-primary: #ffffff;
    }
}

body {
    /* color: var(--vercel-foreground);
    background: var(--vercel-background);
    font-family: Arial, Helvetica, sans-serif; */
    color: var(--text-primary);
    background-color: var(--vercel-foreground);
}

@layer utilities {
    .text-balance {
        text-wrap: balance;
    }
}
